<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <title>uwu 3</title>
        <style>
            html,
            body {
                background-color: midnightblue;
            }
        
            h1 {
                color: cyan;
                text-shadow: 0 0 10px cyan;
            }
        
            .form-control {
                border-color: cyan;
                background-color: darkblue;
                color: magenta;
                text-shadow: 0 0 10px red;
            }
        
            .form-control:active,
            .form-control:focus {
                background-color: black;
                color: magenta;
                text-shadow: 0 0 10px magenta;
                box-shadow: 0 0 30px magenta;
            }
        
            .btn-primary {
                color: black;
                border-color: cyan;
                background-color: cyan;
                box-shadow: 0 0 20px cyan;
            }
        </style>
    </head>
    <body>
        <form class="text-center p-5" method="POST">
            <h1>uwu 3</h1>
            {{#if color}}
            <div class="alert alert-{{color}}">{{message}}</div>
            {{/if}}
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="uwusername" name="username" />
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="persowonal identificatiowon nuwumber (12 digits)" name="pin" />
            </div>
            <button type="submit" class="btn btn-primary">lowog in</button>
        </form>
    </body>
</html>