<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Very™ Enterprise® Secure™ Login™ Ultimate℠ - small brain edition</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <style>
            @keyframes skeumorphism {
                0% {
                    filter: blur(30px);
                }

                40% {
                    filter: blur(0);
                }

                60% {
                    filter: blur(0);
                }

                100% {
                    filter: blur(30px);
                }
            }

            h1 {
                background-image: linear-gradient(135deg, red, orange, yellow, green, blue, purple);
                font-weight: 800;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation-name: fancy-title;
                animation-duration: 1s;
                animation-iteration-count: infinite;
                font-family: cursive;
            }

            @keyframes fancy-title {
                0% {
                    transform: scale(1);
                }

                50% {
                    transform: scale(2);
                }
                
                100% {
                    transform: scale(1);
                }
            }

            body {
                background-image: linear-gradient(135deg, red, orange, yellow, green, blue, purple);
                background-repeat: no-repeat;
                background-color: black;
                animation-name: skeumorphism;
                animation-duration: 6.5s;
                animation-iteration-count: infinite;
            }

            .small-brain {
                position: fixed;
                color: black;
                font-size: 100px;
                font-weight: bold;
                animation-name: small-brain;
                animation-duration: 1.2s;
                animation-iteration-count: infinite;
            }

            @keyframes small-brain {
                0% {
                    color: red;
                }

                33% {
                    color: lime;
                }

                67% {
                    color: blue;
                }

                100% {
                    color: red;
                }
            }
        </style>
    </head>
    <body class="w-100 h-100">
        <p class="small-brain">small brain edition</p>
        <form method="post" class="container my-5 bg-dark rounded py-3 shadow">
            <h1 class="text-center mb-3">Very™ Enterprise® Secure™ Login™ Ultimate℠</h1>
            {{#if alert}}
            <div class="alert alert-{{alert.color}}">{{alert.content}}</div>
            {{/if}}
            <div class="text-center">
                <input type="submit" class="btn btn-primary text-center" value="Log in as a guest" />
            </div>
        </form>
    </body>
</html>
